# Configuración básica para la serie STM32C5A
transport select swd

source [find target/swj-dp.tcl]

set _CHIPNAME stm32c5a3
set _CPUTAPID 0x6ba02477  ;# ID específico del Cortex-M33

swj_newdap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID
set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME cortex_m -chain-position $_TARGETNAME

# Definimos la Flash (1MB) y RAM (256KB) según el PDF
$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size 0x40000
